<fieldset class="fieldset" data-hasrequired="<?php /* @escapeNotVerified */ echo __('* Required Fields') ?>">
    <legend class="legend"><span><?php /* @escapeNotVerified */ echo __('Additional Information') ?></span></legend><br></p>
    <p>        <div class="field github_url required">
        <label for="github_url" class="label"><span><?php /* @escapeNotVerified */ echo __('Github Url') ?></span></label>
        <div class="control">
            <input type="text" name="github_url" id="github_url" 
            title="<?php /* @escapeNotVerified */ echo __('Github URL') ?>" 
            class="input-text" data-validate="{required:true}" 
            autocomplete="off" value="<?= $block->getAttributeValueByCode('github_url')?>">
        </div>
    
        

    </div>
</div>
</fieldset>

